/* style.css */
body {
    background-color: darkgray;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .banner{
    display: flex;
    justify-content: space-between;
    gap: 10%;
    margin: 10px;
  }
  
  #logo{
   color: aqua;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    text-align: start;
    transition:width 0.5s ease, height 0.5s ease, background-color 0.3s ease;
}
  #logo:hover{
    color:gold;
  }
  
  .hero{
    display: flex;
    justify-content: space-between;
    
  }
  header {
    background-color: gray;
    color: white;
    padding: 10px 20px;
  }
  
  header h1 {
    margin: 10px;
    padding: 5px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 20px;
  }
  
  nav ul li {
   display: inline; 
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    
  }
  a:hover{
    color: greenyellow;
    width: 50%;
    height: 50%;
  }
  .About h2{
    font-size: 24px;
    text-align: center;
  }
  .About  ul li{
    display: flex;
    flex-direction: column;
  }
  .About{
    display:flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  .product-list {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }
#products h1{
  font-size: 24px;
  text-align: center;
}
  #products p{
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif
     
  }
#products li{
  list-style: none;
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  text-align: start;
}
  .product {
    border: 2px solid black;
    padding: 20px;
    width: 200px;
    text-align: center;
  }
  
  .product img {
    width: 50%;
    height: 50%;
  }
  
  .product button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: color 0.3s, width 0.3s, height 0.3s;
  }
  
  .product button:hover {
    background-color: greenyellow;
    
  }
  #product h1{
    font-size: 18px;
    text-decoration: none;
    text-align: center;
  }
  #button{
    display: flex;
    justify-content: end;
    background:green;
    color: white;
    padding: 10px;
    border: none;
    text-align: end;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;

  }
  #button:hover{
    background: greenyellow;
    color: black;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .product-list {
      flex-direction: column;
    }
  }
  
  footer {
    background-color:white;
    color:black;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 900%;
    bottom: 0;
    animation: fadeIn 1s;

  }
  @keyframes fadeIn {
    from{
      opacity:0; 
      transform: translateY(20px); }
      to {
        opacity: 1;
        transform: translateX(0);
      
    }
  }

#contact{
  padding: 10px;
  margin: 20px;
  font-size: 18px;

}
.form{
  display: flex;
  flex-direction: column;
  width: 200px;
}
.form input{
  padding: 5px;
  margin: 5px;
}
.form p{
  font-size: 18px;
  padding: 10px;
  margin: 10px;
}
.form label{
  font-weight: bold;
  text-align: start;
}
.form button{
  background-color: green;
  color: white;
  padding: 10px;
  margin: 10px;
}
.form button:hover{
  background: greenyellow;
}
.form p{
  font-size: 18px;
  padding: -10px;
  margin: -10px;
  width:200px; 
  background-color:white;
  color: black;
  
}
#contact{
  display: flex;
  flex-direction: row;
  gap: 75%;
  margin-top: -10px;
}